
html {
    font-size: 14px;
  }
  
  body {
    min-height: 100vh;
    max-width: 100vw;
    color: #fff;
    background: radial-gradient(
        135.35% 140.89% at 107.72% -60.35%,
        rgba(65, 184, 131, 0.4) 0%,
        rgba(247, 247, 247, 0.575) 100%
      ),
      #121116;
    margin: 0 auto;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .nav-bar-app{
/* From https://css.glass */
background: rgba(255, 255, 255, 0);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  }
  .glosy-bg{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
      }